.basket-production__container {
  margin: 0 auto;
  margin-bottom: 58px;
  padding-left: 6.5%;
  padding-right: 6.5%;
}

.basket-production__wrapper {
  border: 1px solid #ececec;
  width: 260px;
  margin: 0 auto;
}

.basket-production__title {
  .font-700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 26.5px;
  margin-top: 21.5px;
  margin-left: 91.5px;
}

.basket-production__video {
  margin-bottom: 35px;
}

.basket-production__description {
  font-size: 13px;
  line-height: 24px;
  color: @light-black;
  margin-left: 34px;
  margin-bottom: 41px;
}

.basket-production__order-button-wrapper {
  .reset-margins;
  margin-bottom: 33px;
}

.basket-production__order-button {
  .font-700;
  font-size: 18px;
  line-height: 16px;
  color: @light-black;
}

@media (min-width: @tablet-width) {
  .basket-production__container {
    padding-left: 4.4%;
    padding-right: 4.4%;
  }

  .basket-production__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
  }

  .basket-production__title {
    order: 2;
    padding-left: 107px;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }

  .basket-production__title br {
    display: none;
  }

  .basket-production__video {
    order: 1;
  }

  .basket-production__description {
    order: 3;
  }

  .basket-production__order-button-wrapper {
    order: 4;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .basket-production__wrapper {
    display: grid;
    grid-template-areas:
      "video title"
      "video description"
      "video button";
    width: 1050px;
  }

  .basket-production__video {
    grid-area: video;
  }

  .basket-production__title {
    grid-area: title;
  }

  .basket-production__description {
    grid-area: description;
  }

  .basket-production__order-button-wrapper {
    grid-area: button;
  }
}
