.catalog-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  width: 80%;
  .reset-margins;
  margin: 0 auto;
  margin-bottom: 30px;
}

.catalog-card__title {
  .font-700;
  .reset-margins;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 6px;
}

.catalog-card__image {
  margin-bottom: 27.5px;
}

.catalog-card__parameters-list {
  .reset-margins;
  margin-bottom: 41px;
}

.catalog-card__parameter,
.catalog-card__parameter-description {
  display: inline-block;
  .reset-margins;
  color: @light-black;
  font-size: 13px;
  line-height: 30px;
}

.catalog-card__wrapper {
  margin-bottom: 26.5px;
  margin-left: 28px;
  width: 98%;
}

@media (min-width: @tablet-width) {
  .catalog-card__title {
    padding-top: 27px;
    margin-bottom: 6.5px;
  }

  .catalog-card__parameters-list {
    margin-bottom: 197px;
  }

  .catalog-card {
    display: flex;
    width: 316px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .catalog-card__wrapper {
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-card {
    display: flex;
    flex-direction: column;
    width: 314px;
    .reset-margins;
    margin-right: 51px;
  }
}
