.catalog-filters__wrapper {
  padding-right: 6.5%;
  padding-left: 6.5%;
}

.catalog-filters__title {
  .font-700;
  font-size: 17px;
  line-height: 16px;
  color: @tiffany-base-color;
  margin-bottom: 30px;
}

.catalog-filters__list {
  .list-style-none;
  .font-700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-filters__group {
  margin-bottom: 32px;
  border: none;
}

@media (min-width: @tablet-width) {
  .catalog-filters__group {
    display: grid;
    grid-template-columns: 167px auto;
    .reset-margins;
    margin-bottom: 32px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .catalog-filters__wrapper {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-filters__group {
    padding-right: 8.5%;
    padding-left: 8.5%;
  }
}
