.catalog__wrapper {
  .centered;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  .list-style-none;
  margin: 0 auto;
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: 1050px;
    .reset-margins;
    margin: 0 auto;
    margin-bottom: 57px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__list li:last-child {
    margin-right: 0;
  }
}