.catalog-filters__title {
  .font-700;
  font-size: 17px;
  line-height: 16px;
  color: @tiffany-base-color;
  margin-bottom: 30px;
}

.catalog-filters__list {
  .list-style-none;
  .font-700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-filters__group {
  margin-bottom: 32px;
}
