.catalog-card {
  border: 1px solid #ececec;
  margin-bottom: 30px;
}

.catalog-card__title {
  .font-700;
  .reset-margins;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 6px;
}

.catalog-card__image {
  margin-bottom: 27.5px;
}

.catalog-card__parameters-list {
  .reset-margins;
  margin-bottom: 41px;
}

.catalog-card__parameter,
.catalog-card__parameter-description {
  display: inline-block;
  .reset-margins;
  color: @light-black;
  font-size: 13px;
  line-height: 30px;
}

.catalog-card__wrapper {
  margin-bottom: 26.5px;
  margin-left: 28px;
}
