.catalog__wrapper {
  .centered;
}

.catalog__list {
  .list-style-none;
}

@media (min-width: @tablet-width) {
  .catalog-card {
    display: flex;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .catalog-card__wrapper {
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}
