.client-info__title {
  .font-700;
  font-size: 17px;
  line-height: 16px;
  color: @tiffany-base-color;
  margin-bottom: 20px;
}

.client-info__list {
  .list-style-none;
  .font-700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 34.5px;
}

.client-info__group {
  margin-bottom: 34.5px;
}

.client-info__group {
  .reset-margins;
  border: none;
}
