@media (min-width: @tablet-width) {
  .group-color {
    background-color: #f1f1f1;
  }

  .group-color__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .group-color__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
