.page-inner-main__title {
  .font-700;
  font-size: 27px;
  line-height: 30px;
  padding-top: 74.5px;
  padding-bottom: 74.5px;
  background-color: #f1f1f1;
  text-align: center;
  margin-bottom: 30px;
}

.page-inner-main__description {
  .reset-margins;
  font-size: 13px;
  line-height: 24px;
  color: @light-black;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 29px;
}

@media (min-width: @tablet-width) {
  .page-inner-main__description {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 80px;
  }
}

@media (min-width: @desktop-width) {
  .page-inner-main__title {
    margin-bottom: 128px;
  }
}