.page-header__wrapper {
  background: #ffffff;
}

.page-header__logo {
  height: 79px;
  margin: 0 auto;
}

.page-header__logo-image {
  padding-top: 28px;
  padding-bottom: 28px;
  margin: 0 auto;
  display: block;
}


.page-header__text {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    position: absolute;
    left: 6.5%;
  }
}
