.product-types__list {
  .list-style-none;
}

.product-types__list li {
  padding-top: 24px;
  padding-bottom: 31px;
}

.product-types__list:last-child {
  margin-bottom: 31px;
}

.product-types__item {
  background-color: @tiffany-base-color;
}

.product-types__item-dark {
  background-color: @tiffany-dark-color;
}

.product-types__link {
  .link-correction;
  .font-700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
